/* p{
    color: green
} */

body{
    background-color: skyblue;
     border: solid black 10px; 
    margin: 10px; 
}

header{
    /* position: fixed;  */
    width: 1000px;
    text-align: center;
    margin-left: 300px;
    border-bottom: rgb(59, 59, 90);

    
}

/* Targeting our blog */
section{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    margin-top: 70px;

}
article{
    font-size: 15px; 
    line-height: 15px;
    text-align: justify;
}

.title{
    font-size: 2rem;
    font-weight: bold;
}

.date{
    font-style: italic;
    font-size: 15px;
    text-transform: uppercase;
}

/* Navigation */
nav >ul > li
{
    display: inline-block;
    padding: 10px 3px;
    font-size: 20px;
}

nav > ul > li > a {
text-decoration: none
}

nav > ul > li:hover{
    background-color: green;
}

img [scr="./asset/image/rounded.jpg"]{
    float: left;
    width: 400px;
    

}

#clear{
    clear:left;
}

.cont{
    margin-right: 400px;
    line-height: 2.0;

}

.cont2{
    margin-right: 400px;
    line-height: 2.0;

}

.cont3{
    margin-right: 400px;
    line-height: 2.0;

}

.cont4 > li{
    margin-right: 400px;
    line-height: 2.5;

}

.que{
    font-size: 20px;
    font-weight: bold;
    margin-right: 400px;
    line-height: 2.0;
}


/* the text inherit from the div rather than the default html
em- means realtuve tot he container, doubles the font size of the default size 
rem- takes the root container
percentage is the same as em*/

#tex{
    text-transform: uppercase;
    /* text-align: center; */
    margin-left: 680px;
 
}

.pics{
    
    float:left;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
    padding: 1.66666667%;
    
}



.form{
    margin-bottom: 300px;
    position: relative;
}
#fName{
    margin-left: 80px;
    margin-top:20px;
    height: 25px;
    width: 200px;
    
}

input[type="email"]{
    margin-left: 113px;
    margin-top:20px;
    height: 25px;
    width: 200px;
    
}

input[type="tel"]{
    margin-left: 57px;
    margin-top:20px;
    height: 25px;
    width: 200px;
}

#country{
    margin-left: 100px;
    margin-top:20px;
    height: 25px;
    width: 200px;
}

input[type="password"]{
    margin-left: 89px;
    margin-top:20px;
    height: 25px;
    width: 200px;
}

input[type="date"]{
    margin-left: 65px;
    margin-top:20px;
    height: 25px;
    width: 200px;
}
 #comment{
    margin-top:20px;
    margin-left: 20px;
 }

 #detail{
    margin-top:20px;
    margin-left: 20px;
 }

.label{
    margin-left: 20px;
}

#submit{
    margin-top:20px;
    margin-left: 20px;
    width: 100px;
    height: 40px;
}


#prof{
    width:"250";
    float:left;
    text-align: right;
    margin-left: 20px;

}

.profile{
    display: inline-block;
    width: 1550px;
    border-bottom:  solid lightgray 10px;
}

.descript{
    position: relative;
    margin-left: 250px;
    margin-top: 30px;
}

#leave{
    margin-left: 20px;
}

.head{
    width: 1550px;
    border-bottom:  solid lightgray 10px;
}

.social{
    width: 1550px;
    border-bottom:  solid lightgray 10px;
    border-top:solid lightgray 10px ;
    padding-top: 20px;
    padding-bottom: 10px;
}


